[Desktop Entry]
Version=1.0
Type=Application
Name=DBeaver
GenericName=Database Manager
Comment=Universal Database Manager and SQL Client
Exec=/usr/bin/dbeaver %u
Icon=dbeaver
Terminal=false
Categories=Development;IDE;Database;
StartupNotify=true
StartupWMClass=DBeaver
MimeType=application/x-sql;text/x-sql;
Keywords=database;sql;ide;
